name: Code check
on:
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Code check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.3.0
        with:
          flutter-version: '3.7.0'
      - name: Install packages
        run: flutter pub get
      - name: Linter
        run: flutter analyze
      - name: Test
        run: flutter test
